@font-face {
    font-family: 'impactregular';
    src: url('../assets/font/impact-webfont.woff2') format('woff2'),
        url('../assets/font/impact-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .message {
        background: url("../assets/us.jpg");

        text-align: justify;
        font-family: 'impactregular';
        font-size: 1.6vw;
        line-height: 1.1vw;
        letter-spacing: -0.5px;

        -webkit-background-clip: text;
        background-clip: text;

        background-attachment: local;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;

        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
}

/* Desktop */
@media only screen and (min-width: 769px) {
    .message {
        background: url("../assets/us.jpg");

        text-align: justify;
        font-family: 'impactregular';
        font-size: 1vw;
        line-height: 1.1vw;

        -webkit-background-clip: text;
        background-clip: text;

        background-attachment: local;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;

        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
}


h1 {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-size: 32pt;
}

.subtitle {
    font-family: century-gothic, sans-serif;
    font-size: medium;
    text-align: center;
}

.message-container {
    margin: auto;
    width: 80%;
}

