h1 {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-size: 32pt;
}

.subtitle {
    font-family: century-gothic, sans-serif;
    font-size: medium;
    text-align: center;
}

.message-container {
    margin: auto;
    width: 80%;
}

.message {
    background: url("../assets/us.jpg");

    text-align: justify;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 1vw;

    -webkit-background-clip: text;
    background-clip: text;

    background-attachment: local;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}